**Function 1**

**Date: 27/04/2025**

In [1]:
# Addition

def addition(a, b):
  addition = a + b
  return addition

addition(2, 6)

8

In [2]:
# Subtraction

def subtraction(a, b):
  sub = a - b
  return sub

subtraction(10, 5)

5

In [3]:
# Multiplication

def multiplication(a, b):
  mul = a * b
  return mul

multiplication(2, 5)

10