In [ ]:
# 1.Find the error in the following Python code:

import math
print(math.sqrt(16))

4.0

In [ ]:
# 2.Find the error in the following Python code:

def my_function(x):
  x += 5
  print(x)

my_function(10)

15

In [ ]:
# 3.x = 5

x = 5
if x == 5:
  print("x is 5")

x is 5

In [ ]:
# 4.

numbers = [5, 3, 8, 2]
print(sorted(numbers))

[2, 3, 5, 8]

In [39]:
# 5.

def square(n):
  return n * n

print(square(4))

16

In [38]:
# 6.
my_tuple = (1, 2, 3)
new_tuple = my_tuple + (5,)
print('Tuple =', new_tuple)

print(new_tuple[3])

Tuple = (1, 2, 3, 5)
5

In [ ]:
# 7.

name = "Alice"
age = 25
print(f'My name is {name} and I am {age} years old')

My name is Alice and I am 25 years old

In [40]:
# 8.

a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
  print("Lists are equal")

Lists are equal

In [ ]:
# 9.

for i in range(1, 5):
  print(i)

1
2
3
4

In [41]:
# 10.

student = {'name': 'John', 'age': 20}
print(student['name'])

John