**Assignment Level 1 - Python**

**Date: 26/04/2025**

In [19]:
# print statement

print('HOPE AI')

HOPE AI

In [20]:
# Buy input

InstituteName = (input('Enter your Institute Name: '))

print(InstituteName)

Enter your Institute Name: HOPE AI
HOPE AI

In [21]:
# Buy inputs

Name = (input('Enter your name: '))
Age = (input('Enter your age: '))
School_Name = (input('Enter your school name: '))
Degree = (input('Enter your degree:'))

print(Name)
print(Age)
print(School_Name)
print(Degree)

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru School
Enter your degree:B.E. CSE
Raj
15
Guru School
B.E. CSE

In [22]:
# Addition

a = 43
b = 34
add = a + b
print(add)

77

In [23]:
# subtraction

a = 43
b = 34
sub = a - b
print(sub)

9

In [24]:
# Multiplication

a = 63
b = 97
mul = a * b
print(mul)

6111

In [25]:
# Division

a = 76
b = 31
div = a/b
print(float(div))

2.4516129032258065

In [26]:
# Floor Division

import math

a = 76
b = 31
div = a/b
floor_div = math.floor(div)
print(floor_div)

2

In [29]:
# modulo

a = 76
b = 31
mod = a % b
print(mod)

14

In [28]:
# power

a = 4
b = 4
power = a ** b
print(power)

256