**Assignment Level 1 - Python**

**Date: 26/04/2025**

In [30]:
# print statement

print('HOPE AI')

HOPE AI

In [31]:
# Buy input

InstituteName = (input('Enter your Institute Name: '))

print(InstituteName)

Enter your Institute Name: HOPE AI
HOPE AI

In [32]:
# Buy inputs

Name = (input('Enter your name: '))
Age = (input('Enter your age: '))
School_Name = (input('Enter your school name: '))
Degree = (input('Enter your degree:'))

print(Name)
print(Age)
print(School_Name)
print(Degree)

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru School
Enter your degree:B.E. CSE
Raj
15
Guru School
B.E. CSE

In [33]:
# Addition

a = 43
b = 34
add = a + b
print('a =', a)
print('b =', b)
print('Add =', add)

a = 43
b = 34
Add = 77

In [34]:
# subtraction

a = 43
b = 34
sub = a - b
print('a =', a)
print('b =', b)
print('Sub =', sub)

a = 43
b = 34
Sub = 9

In [35]:
# Multiplication

a = 63
b = 97
mul = a * b
print('a =', a)
print('b =', b)
print('Mul =',mul)

a = 63
b = 97
Mul = 6111

In [36]:
# Division

a = 76
b = 31
div = a/b
print('a =', a)
print('b =', b)
print('Float Div =', float(div))

a = 76
b = 31
Float Div = 2.4516129032258065

In [37]:
# Floor Division

import math

a = 76
b = 31
div = a/b
floor_div = math.floor(div)
print('a =', a)
print('b =', b)
print('Floor Div =', floor_div)

a = 76
b = 31
Floor Div = 2

In [38]:
# modulo

a = 76
b = 31
mod = a % b
print('a =', a)
print('b =', b)
print('Modulo =', mod)

a = 76
b = 31
Modulo = 14

In [39]:
# power

a = 4
b = 4
power = a ** b
print('a =', a)
print('b =', b)
print('Power =', power)

a = 4
b = 4
Power = 256