**Assignment Question 2**

**Date: 27/04/2025**

In [9]:
# print 0 to 20 using range

for i in range(21):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [7]:
# print range 10 to 20

numbers = range(10, 21)
for i in numbers:
  print(i, end = ' ')

10 11 12 13 14 15 16 17 18 19 20

In [22]:
# print the number of items in the list by using 'len'

list_a = [10, 20, 14, 55, 43, 87, 76]
print(list_a)

Number_of_items = len(list_a)
print('Number of items in the List2: ', Number_of_items)

[10, 20, 14, 55, 43, 87, 76]
Number of items in the List2:  7

In [15]:
text = 'Artificial Intelligence'
print(text)

for char in text:
  print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [16]:
Your_Name = 'Anusha'
Your_Age = 40
Your_Profession = 'Lecturer'

print('Your_Name = ', Your_Name)
print('Your_Age = ', Your_Age)
print('Your_Profession =', Your_Profession)

Your_Name =  Anusha
Your_Age =  40
Your_Profession = Lecturer

In [17]:
# print mixed data type using tuples

tuple_a = (1, 'Welcome', 2, 'Hope')
print(tuple_a)

(1, 'Welcome', 2, 'Hope')

In [18]:
tuple_a = (1, 2, 3, 4)
tuple_b = ('Python', 'Hope')
tuple_c = (tuple_a, tuple_b)
print(tuple_c)

((1, 2, 3, 4), ('Python', 'Hope'))

In [21]:
# print odd numbers in the list

numbers = [20, 10, 16, 19, 25, 1, 276, 188]
print(numbers)

for i in numbers:
  if i % 2 != 0:
    print(i, 'is odd')

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [20]:
# print even numbers in the list

numbers = [20, 10, 16, 19, 25, 1, 276, 188]
print(numbers)

for i in numbers:
  if i % 2 == 0:
    print(i, 'is even')

[20, 10, 16, 19, 25, 1, 276, 188]
20 is even
10 is even
16 is even
276 is even
188 is even